<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.photoprint.photoclub">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/DefaultAppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <provider
            android:name=".AppInitProvider"
            android:authorities="${applicationId}.appInitProvider"
            android:exported="false" />

        <activity
            android:name=".ui.activity.run.RunActivity"
            android:noHistory="true"
            android:screenOrientation="${defaultOrientation}"
            android:theme="@style/RunActivityAppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.activity.category.CategoryActivity"
            android:screenOrientation="${defaultOrientation}" />

        <activity
            android:name=".ui.activity.guide.GuideActivity"
            android:noHistory="true"
            android:screenOrientation="${defaultOrientation}" />

        <activity
            android:name=".ui.activity.service.ServiceActivity"
            android:screenOrientation="${defaultOrientation}" />

        <activity
            android:name=".ui.activity.servicesettings.ServiceSettingsActivity"
            android:screenOrientation="${defaultOrientation}" />

    </application>

</manifest>
